  /* Chrome, Safari, Edge, Opera */
  #nospinner::-webkit-outer-spin-button,
  #nospinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  #nospinner {
    -moz-appearance: textfield;
  }